html{
    font-size: 16px;
    /* El html es la raíz y vienen valores por defecto así que si se quiere cambiar todo se hace desde el html, unidad patrón */
}

.cuadro-padre{
    font-size: 10;
}



.cuadro{
    /* 1rem = 16px */
    /* Las unidades em van a tomar la unidad del padre */
    height: 10em;
    width: 10em;
    
/*     margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 30px;
    margin-left: 40px;
 */

    padding: 20px;
    /* display: inline-block; */

    border: 10px solid yellow;
    border-radius: 10% 20% 30% 40%;

}

.el-1{
    background-color: aquamarine;
    /* position: static; */
/*     position: fixed;
    bottom: 0;
    right: 0; */
}

.el-2{
    background-color: chartreuse;
/*     position: absolute;
    top: 0;
    right: 0%; */
    position: sticky;
    top: 0; /* Conforme baja se queda pegado */
}

.el-3{
    background-color: coral;
/*     position: relative;
    bottom: 0px;
    left: 200px; */
}

.el-4{
    background-color: darkorchid;
    position: static;
}

.el-5{
    background-color: gold;
    position: static;
}





